#walrus-showing, #sealShowing, #seagullShowing {
  display: none;
}

#sealPicture {
  display: none;
}

img {
  height: 400px;
  width: 400px;
}

#walrusClickable, #sealClickable, #seagullClickable {
  cursor: pointer;
  color: #0088cc;
}

#walrusClickable:hover, #sealClickable:hover, #seagullClickable:hover {
  text-decoration: underline;
}